    /* Detail Page */
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0C2B4E;
    color: white;
}
    .product-detail-container{
        width: 80%;
        margin: auto;
        margin-top: 50px;
}
.product-detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.product-detail-image img{
    width: 100%;
    height: 400px;
}
.product-info h2{
    font-size: 28px;
    margin-bottom: 10px;
}
.product-price{
    color:chartreuse;
    font-size: 22px;
    margin-bottom: 20px;
}
.product-desc{
    color:rgb(199, 199, 199) ;
    margin-bottom: 30px;

}
.quantity {
    margin-bottom: 20px;
}
.quantity input{
    width: 70px;
    height: 40px;
    padding: 2px 10px;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    font-size: 22px;
    
}
button{
    background-color: #5967ab;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 22px;

}
button:hover{
   
        background-color: #424a71;
}
button:active{
     background-color: #848cb8;
}