*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0C2B4E;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgb(151, 114, 66);
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* ដាក់ដើម្បីកុំឱ្យរូបគងនៅលើnavbar */
    padding: 0px 20px;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{

        height: auto;
        object-fit: contain;
}
.logo h1{
 
font-family: "Kantumruy Pro", sans-serif;
color: rgb(191, 223, 249);
font-size: clamp(24px, 5vw, 48px);

}
.navbar-list{
    display: flex;
    list-style: none;
        gap: 20px;
}
.nav-item{
    text-decoration: none;
    color:white;

}
.nav-item:hover{
    
    color:rgb(236, 106, 106);

}

.product-card{
        max-width: 280px;
        padding: min(5em,8%);

    }
    .product-card img{
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    .price{
        font-size: clamp(1rem,calc(7vw+1rem),1.5rem);
        margin-bottom: 8px;
        margin-top: 20px;
    }
    .title
    {
        color: rgb(158, 158, 158);
        font-size: 18px;
    }
    .btn{
        background-color: #dfab32;
        padding: 12px 20px;
        font-size: 12px;
        width: 100%;
        height: auto;
        border: none;
        border-radius: 8px;
        color: white;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }
    .product-card img:hover{
        transform: scale(1.1);
        transition-duration: 0.30s;
    }
    .product-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* 1fr គឺស្មើហ្នឹង1Product ដាក់បានយ៉ាងច្រើនបំផុង 1fr 1fr 1fr 1fr  */
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    .product-img{
        position: relative;
    }
    .product-img span{
        position: absolute;
        bottom:  30px;
        right: 60px;

        padding: 6px 30px;
        background-color: crimson;
        border-radius: 10px;
    }


