*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(29, 29, 79);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 80%;
    margin: 10px auto;
}
.product-detail{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 40px;
}
.product-gallery{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 100px 1fr;
}
.thumbnail img{
    width: 80px;
    height: auto;
}
.main-product img{
    width: 100%;
    height: 450px;
}
.related{
    margin-top: 20px;
}
.related h3{
    border-left: 5px solid red;
    padding-left: 15px;
}
.related-grid{
   margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
   
}
.related-card img{
height: 200px;
 width: 100%;}

 @media(max-width:768px){
    .product-detail{
        display: grid;
        grid-template-columns: 1fr;
    }
    .product-gallery{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-product{
        order: 1;
    }
    .thumbnail{
        order:2;
    }
 }

