*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
.nav-list{
    display: flex;
    list-style: none;
    gap: 10px;
    color: violet;
}
.nav-item{
    text-decoration: none;
}
.logo{
    width: 60px;
    height: 60px;
}
.menu-icon{
    color: blueviolet;
    display: none;
}
@media (max-width:768px){
.nav-list{display: none;}
.menu-icon{display: flex;}    
}
